h1 {
	color:white;
	background-color:black;
}
p {
	color:blue;
	font-size:40px;
}


.cp_ipcheck {

         width: 90%;
	margin: 2em auto;
	text-align: left;
}
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}
.cp_ipcheck .option-input02 {
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;

	color: #ffffff;
	border: none;
	outline: none
		background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.cp_ipcheck .option-input02:hover {
	background: #d6a9a9;
}
.cp_ipcheck .option-input02:checked {
	background: #da3c41;
}
.cp_ipcheck .option-input02:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✔';
	text-align: center;
}
.cp_ipcheck .option-input02:checked::after {
	position: relative;
	display: block;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: #da3c41;
}
.cp_ipcheck .option-input02.radio {
	border-radius: 50%;
}
.cp_ipcheck .option-input02.radio::after {
	border-radius: 50%;
}
.cp_ipcheck label {
	line-height: 40px;
	display: block;
}
.cp_ipcheck .option-input02:disabled {
	cursor: not-allowed;
	background: #b8b7b7;
}
.cp_ipcheck .option-input02:disabled::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
display: inline-block;
	width: 30px;
	height: 30px;
	content: '✖︎';
	text-align: center;
}

/* === ボタンを表示するエリア ============================== */
.sample2Area {
  padding-right;                /*  右寄せ          */
  width          : 100px;               /* ボタンの横幅       */
}
 
 /* === チェックボックス ==================================== */
.sample2Area input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}
 
 /* === チェックボックスのラベル（標準） ==================== */
.sample2Area label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  text-align     : left;                /* 文字位置は中央     */
  border         : 2px solid #78bd78;   /* 枠線               */
  border-radius  : 3px;                 /* 角丸               */
  line-height    : 1;                   /* 1行の高さ          */
  height         : 50px;                /* ボタンの高さ       */
}
 
 /* === 移動BOX（標準） ===================================== */
.sample2Area #sample2box {
  display        :inline-block;
  height         : 46px;                /* ボタンの高さ       */
  width          : 50%;                 /* ボタンの高さ       */
  background     : #ddd;                /* 背景色             */
  transition     : .3s;                 /* ゆっくり変化       */
}
 
 /* === ON側のチェックボックスの移動BOX（ONのとき） ========= */
.sample2Area #sample2check:checked + label #sample2box {
  transform      : translateX(100%);    /* BOXを右に移動      */
  background     : #78bd78;             /* 背景色             */
}





 
